:root {
	--dim-entry-width: 100%;
	--dim-border-radius: 5px;
	--tim-fade-in: .2s;
	--col-primary: #000000;
	--col-light: #212121;
}

* {
	margin: 0;
	margin-bottom: 2.5vh;
	padding: 0;

	font-size: 110%;
	font-family: sans-serif;

	color: var(--col-primary);
}

body {
	width: 75%;
	margin: auto;
}

header h1 {
	font-size: 1.5em;
	margin-top: 2.5vh;
	margin-bottom: 5vh;
	text-align: center;
}

button {
	transition: background var(--tim-fade-in) ease-in;
	background-color: var(--col-primary);
	color: white;
	border: none;
	border-radius: var(--dim-border-radius);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

button:hover {
	background-color: var(--col-light);
}

#entry {
	outline: none;
	font-family: monospace;
	border: 2px solid var(--col-light);
	border-radius: var(--dim-border-radius);
	padding: 15px 15px;
	width: var(--dim-entry-width);
}

#wc {
	margin-left: 2.5vw;
	display: inline;
}
